@use 'styles/__' as *;

@keyframes appearing {
	0% {
		top: -20px;
		opacity: 0;
	}
	to {
		top: 0;
		opacity: 1;
	}
}
@keyframes appearing-left {
	0% {
		top: -800px;
		left: -800px;
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@keyframes appearing-right {
	0% {
		top: -800px;
		right: -800px;
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

._ {
	font-size: 18px;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 16px;
	overflow: hidden;
	position: relative;
	transition: font-size 0.1s;
	@include m-l {
		font-size: 16px;
	}
}

.content {
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow-y: auto;
	overflow-x: hidden;
	gap: 68px;
	padding: 0 20px;
	@include m-l {
		gap: 40px;
	}
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 16px;
	position: relative;

	[class*='_active'] & {
		animation: appearing 1s 0.2s backwards;
	}

	.container {
		animation-delay: 0.4s;
	}
	~ .container {
		animation-delay: 0.6s;
	}
}

.header {
	text-align: center;
	padding: 0 300px;
	@include m-l {
		padding: 0;
	}
}

.description {
	max-width: 423px;
	text-align: center;
	@include m-l {
		max-width: 320px;
	}
}

.event {
	font-size: 18px;
	height: 60px;
	width: 240px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 28px;
	background: $c-bg-secondary;
	color: $c-f-tertiary;
	text-decoration: none;
	border-radius: 30px;
	@include _interactive;
	&:hover {
		background: rgba($c-bg-secondary, 0.9);
	}
}

.arrow {
	rotate: -90deg;
	width: 20px;
}

.blot {
	position: absolute;
	fill: $c-bg-tertiary;
	width: 865px;
	z-index: -1;
	transition: all 0.1s;
	pointer-events: none;
	&_left {
		top: -317px;
		left: -432px;
		rotate: -24deg;
		[class*='_active'] & {
			animation: appearing-left 2s backwards;
		}

		@include m-l {
			width: 478px;
			top: -197px;
			left: -250px;
		}
		@include m-s {
			width: 366px;
			top: -165px;
			left: -201px;
		}
	}
	&_right {
		top: -475px;
		right: -531px;
		rotate: -77.43deg;
		[class*='_active'] & {
			animation: appearing-right 2s backwards;
		}
		@include m-l {
			top: -501px;
			right: -514px;
			rotate: -86.33deg;
		}
		@include m-s {
			width: 642px;
			top: -376px;
			right: -408px;
			rotate: -84.96deg;
		}
	}
}
