@use 'styles/__' as *;

.counter {
	font-size: 72px;
	color: $c-f-secondary;
	display: flex;
	justify-content: center;
	font-weight: 600;
	@include m-l {
		font-size: 36px;
	}
}

.value {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 132px;
	@include m-l {
		width: 64px;
	}
}

.mark {
	font-size: 16px;
	color: $c-f-tertiary;
	display: flex;
	align-items: center;
	position: relative;
	width: 100%;
	font-weight: normal;
	@include m-l {
		font-size: 12px;
	}
	&::before {
		display: block;
		position: absolute;
		width: 100%;
		text-align: center;
	}
}
.days:before {
	content: 'Days';
	@include m-l {
		content: 'DD';
	}
}
.hours:before {
	content: 'Hours';
	@include m-l {
		content: 'HH';
	}
}
.minutes:before {
	content: 'Minutes';
	@include m-l {
		content: 'MM';
	}
}
.seconds:before {
	content: 'Seconds';
	@include m-l {
		content: 'SS';
	}
}

.label {
	width: 100%;
	fill: $c-bg-accents;
}
