@use 'styles/__' as *;

@keyframes appearing {
	0% {
		top: -20px;
		opacity: 0;
	}
	to {
		top: 0;
		opacity: 1;
	}
}

._ {
	flex-shrink: 1;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	position: relative;
	height: 120px;
	transition: height 0.1s;

	@include m-l {
		height: 160px;
	}
	@include m-s {
		height: 120px;
	}
	[class*='_active'] & {
		animation: appearing 1s;
	}
}

.logo {
	height: 60px;
	transition: height 0.1s;

	@include m-s {
		height: 40px;
	}
}

.title {
	font-size: 1.6rem;
	font-weight: 100;
}
