@use 'styles/_' as *;

.content {
	background: $c-bg-main;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 28px;
	position: relative;
	width: 100%;
	height: 100%;
	max-width: 320px;
	max-height: 370px;
	padding: 16px;
	cursor: default;
}

.overlay {
	@include _interactive;
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba($c-bg-tertiary, 0.6);
}

.cross {
	position: absolute;
	top: 0;
	right: 0;
	width: 56px;
	padding: 16px;
	fill: rgba($c-f-secondary, 0.3);
	@include _interactive;
	&:hover {
		fill: rgba($c-f-secondary, 0.5);
	}
}

.close {
	font-size: 18px;
	color: $c-f-tertiary;
	background: $c-bg-secondary;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 60px;
	max-width: 200px;
	border-radius: 50vh;
	@include _interactive;
	&:hover {
		background: rgba($c-bg-secondary, 0.9);
	}
}
