@use '__' as *;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

::-webkit-scrollbar {
	width: 6px;
	height: 6px;

	&-track {
		border-radius: 10px;
		background: rgba(0, 0, 0, 0.1);
	}

	&-thumb {
		border-radius: 10px;
		background: rgba(0, 0, 0, 0.2);
	}

	&-thumb:hover {
		background: rgba(0, 0, 0, 0.4);
	}

	&-thumb:active {
		background: rgba(0, 0, 0, 0.9);
	}
}

* {
	box-sizing: border-box;
	scroll-behavior: smooth;
}

html,
body,
#root {
	display: flex;
	flex-direction: column;
}

html {
	min-height: 100vh;
}

body,
#root {
	flex-grow: 1;
}

body {
	margin: 0;
	font-family: 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI',
		'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
		'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: $c-f-main;
	background: $c-bg-main;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

h2 {
	color: rgba($c-f-secondary, 39%);
	font-size: 72px;
	line-height: 56px;
	text-transform: uppercase;
	transition: font-size 0.1s;

	@include m-l {
		font-size: 36px;
		line-height: 30px;
	}
}
